body{
	margin:0;
	padding:0;
	background:#F5F5F5;
}
h1{
	font-size: 48px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

p{
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	
	line-height: 1.5em;
}
strong{
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #FFF;
}
.contentbox{
	margin: 0 auto;
	width: 800px;
	height: 800px;
}
img{
	float: left;
	padding-right: 20px;
}
.circle {
  	position: relative;
  	width: 50px;
  	height: 50px;
  	float: left;
  	margin: 10px;
  	background: #333;
  	-moz-border-radius: 25px;
  	-webkit-border-radius: 25px;
  	border-radius: 30px;
 	text-align: center;
}
.gebote_zahlen{
	position: absolute;
	top: 7px;
	left: 20px;
}


/*---Feiertage--*/

#feiertage {
  background-color: #F8A434;
  width: auto;
  height: 800px;
  text-align: center;
  color: #fffafa;
  margin-bottom: 50px;

}

.accordion {
  margin: auto;

}

.accordion dt, .accordion dd {
  padding: 30px;
  border-top: 3px solid white;
  border-bottom: 0;  
  background-color: #E86C8D;
}

.accordion dd {
  margin-left: 0;
  background-color: #7b68ee;
}

.accordion dt:last-of-type, .accordion dd:last-of-type {
  

}

.accordion dt a, .accordion dd a {
  display: block;
  color: black;
  font-size: 16px;
	font-family: 'Roboto Slab', serif;	
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
	color: #fffafa;
}

.accordion dd {
  border-top: 0;
   font-size: 14px;
	font-family: 'Roboto Slab', serif;	
	font-weight: 400;
	line-height: 1.5em;
	text-align: center;
	color: #fffafa;

}

.accordion dd:last-of-type {
  
  position: relative;
  top: -1px;
}

a {
  text-decoration: none;
}





/*---ANMELDUNG--*/

#anmeldung {
  background-color: #F8A434;
  width: auto;
  height: 800px;
  text-align: center;
  color: #FDFCFB;
}


form {
  width: 60%;
  margin:  auto;
}

#anmeldung h1 {
	padding-top:180px;
	color: #FDFCFB;
	background:url("assets/stoerer.png") no-repeat right 10% bottom 10px;
	background-size: 180px 180px;
}


#anmeldung p {
  letter-spacing: 1px;
  margin: -2px 50px 60px;
  color: #FDFCFB;
 }


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 70%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#submit {
  width: 35%;
  height: 46px;
  background: #E86C8D;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 1.5em;
  color: inherit;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: #d45d7d;
}
  

input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}
