body{
	margin:0;
	padding:0;
	background:#F5F5F5;
}
.clear{
	clear:both;
	}
h1{
	font-size: 48px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #333;
}
p{
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #333;
	line-height: 1.5em;
}
strong{
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #FFF;
}
.contentbox{
	margin: 0 auto;
	width: 800px;
	height: 800px;
}
img{
	float: left;
	padding-right: 20px;
}

/* Wie alles begann...*/
#beginn{
	background-color:#fba2e6;
	width:auto;
}

#beginn h1{
	color:#fe47c5;
	}

/* Gebote */
#gebote{
	background-color:#FC0;
	width:auto;
	padding:2% 10%;
	}
	
.gebote_zahlen_box{
	width:20%;
	position:relative;
	float:left;
}
#gebote .circle {
  	position: relative;
  	width: 50px;
  	height: 50px;
  	float: left;
  	margin: 5% 10% 0 0;
  	background:#333;
  	-moz-border-radius: 25px;
  	-webkit-border-radius: 25px;
  	border-radius: 35px;
 	text-align: center;
	border:3px solid #fff;
}
.gebote_zahlen{
	left: 38%;
    position: absolute;
    top: 15%;
}

#gebote article{
  position: relative;
  width:75%;
  float:left;
  margin-top:10px;
}

#gebote .gebote_text{
  position:absolute;
  display:none;
  padding:0 30px;
}

#gebote article #gebot1{
	display:block;	
	}
