body{
	margin:0;
	padding:0;
	background:#F5F5F5;
}
.clear{
	clear:both;
	}
h1{
	font-size: 48px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #333;
}
p{
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #333;
	line-height: 1.5em;
}
strong{
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #FFF;
}
.contentbox{
	margin: 0 auto;
	width: 800px;
	height: 800px;
}
img{
	float: left;
	padding-right: 20px;
}

/* Wie alles begann...*/
#beginn{
	background-color:#fba2e6;
	width:auto;
}

#beginn h1{
	color:#fe47c5;
	}

/* Gebote */
#gebote{
	background-color:#FC0;
	width:auto;
	padding:2% 10%;
	}
	
.gebote_zahlen_box{
	width:20%;
	position:relative;
	float:left;
}
#gebote .circle {
  	position: relative;
  	width: 50px;
  	height: 50px;
  	float: left;
  	margin: 5% 10% 0 0;
  	background:#333;
  	-moz-border-radius: 25px;
  	-webkit-border-radius: 25px;
  	border-radius: 35px;
 	text-align: center;
	border:3px solid #fff;
}
.gebote_zahlen{
	left: 38%;
    position: absolute;
    top: 15%;
}

#gebote article{
  position: relative;
  width:75%;
  float:left;
  margin-top:10px;
}

#gebote .gebote_text{
  position:absolute;
  display:none;
  padding:0 30px;
}

<<<<<<< Updated upstream
#gebote article #gebot1{
	display:block;	
	}
=======

#items {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 10px;
  left: 10px;
}

.out-of-view{
 background: red;
  right: 0!important;
  top: -100%!important;
  /*transition-duration: .5s;*/
  transition-duration: 1s;
}

#items .item {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
div#trenner {
  position: absolute;
  bottom: 0;
  height: 1px;
  background: red;
  width: 100%;
  z-index: 99999999;
}

#items .item01 {
  background-image: url("http://www.jigzone.com/p/jz/jzC/SkinnyCat.jpg")
}

#items .item02 {
  background-image: url("http://www.guardianvetcentre.com/images/image/urinary-blockage-cat.jpg")
}

#items .item03 {
  background-image: url("http://www.businessinsider.com/image/4f3433986bb3f7b67a00003c/cute-cat.jpg")
}

#items .item04 {
  background-image: url("http://www.jigzone.com/p/jz/jzK/Startled_Cat_9760.jpg")
}

#items .item05 {
  background-image: url("http://cf.ltkcdn.net/cats/images/std/63625-400x300-Cat_yawn.jpg")
}

>>>>>>> Stashed changes
