body{
  margin:0;
  padding:0;
  background:#F5F5F5;
}
h1,h2{
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  margin:0;
}

h1{
 	font-size: 40px;	
	}
	
h2{
	font-size: 28px;		
	}

p{
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.clear{
  clear: both;
}
.contentbox{
  margin: 0 auto;
  height: 650px;
}
img{
  float: left;
  /*padding-right: 20px;*/
}

a {
  text-decoration: none;
}

/*------------------------ ABSTÄNDE AUF SPEZIELLEN SEITEN -------------------------*/
#gebote, #kopfbedeckung, #prophet, #geschichte, #feiertage, #anmeldung{
	padding:10%;
	}


/*------------------------ INTRO SCROLL FADE -------------------------*/

#intro{
  position: relative;
  height: 1700px;
  background:#0070BA;
}

#items {
  width: 1000px;
  height: 500px;
  position: fixed;
  /*top: 200px;
  left: 100px;*/
  top: 20%;
  left: 20%;
}

.out-of-view{
  /*background: red;*/
  right: 0!important;
  top: -100%!important;
  transition-duration: 1s;
}

#items .item {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  float:left;
}
div#trenner {
  position: absolute;
  bottom: 0;
  height: 1px;
  /*background: red;*/
  width: 100%;
  z-index: 99999999;
}

/*
#items .item01 {
  background-image: url("http://placekitten.com/500/500")
}

#items .item02 {
  background-image: url("http://placekitten.com/500/500")
}

#items .item03 {
  background-image: url("http://placekitten.com/500/500")
}

#items .item04 {
  background-image: url("http://placekitten.com/500/500")
}

#items .item05 {
  background-image: url("http://placekitten.com/500/500")
}*/

.slide_container{
  width:1000px;
  height:500px;
  opacity: 0;
  position: absolute;
}

.slide img{
  float:left;
  padding-right:20px;
}

.slide_container p{
  width:480px;
  height: 200px;
  float:left;
  background:#0070BA;
}

#himmelanfang{
  position: absolute;
  bottom: 0;
  background-image: url("../assets/intro_wolken.png");
  height:493px;
  width:100%;
}

#himmel{
  height: 800px;
}

/*------------------------ SCHÖPFUNGSGESCHICHTE -------------------------*/

#geschichte{
	background-color:#fba2e6;
	color:#fe47c5;	
	}

#geschichte article{
	float: left;
    width: 50%;
	}	

#geschichte img{
    width: 45%;
	}	
	

/*------------------------ PROPHET & EVANGELIUM -------------------------*/

#prophet{
	background-color:#8b69d3;
	color:#ffdeb4;	
	}
	
#prophet article{
	float: left;
    margin-right: 6%;
    width: 50%;
	}	

#prophet img{
 	float: left;
    width: 40%;
	}	


/*------------------------ GEBOTE -------------------------*/

#gebote{
  background-color:#febfc7;
  color:#503900;	
  }

#gebote h1{
	margin-top:4%;
	}

.gebote_zahlen_box{
    position: relative;
    width: 30%;
	float:left;
}
#gebote .circle {
  	background: #503900 none repeat scroll 0 0;
    border-radius: 45px;
    float: left;
    height: 80px;
    margin: 5% 10% 0 0;
    position: relative;
    text-align: center;
    width: 80px;
}

.gebote_zahlen{
	color:#FEBFC7;
    font-size: 2.4em;
    left: 38%;
    position: absolute;
    top: 17%;
	font-family: 'Roboto Slab', serif;
  	font-weight: 400;
}


#gebote article{
    color: #005479;
    float: left;
    position: relative;
    width: 60%;
}

#gebote .gebote_text{
  position:absolute;
  display:none;
}

#gebote article #gebot1{
  display:block;  
  }


/*------------------------ KOPFBEDECKUNG -------------------------*/

#kopfbedeckung{
	background-color:#ff8d6b;
	color:#e54b27;
}

#kopfbedeckung article{
	float: left;
    margin-right: 6%;
    width: 50%;
	}	

#kopfbedeckung img{
 	float: left;
    width: 40%;
	}
	
	
/*------------------------ ACCORDION FEIERTAGE -------------------------*/

#feiertage {
  background-color: #2fc7b2;
  color: #005479;
}

.accordion {
  width:50%;
  float:left;
  margin:0 2% 0 0;
}

.accordion dt{
	background-color:#00aedb;
	color:#b7eda1;
	}

.accordion dt, .accordion dd {
  padding: 20px;
  border-top: 3px solid #2fc7b2;
  border-bottom: 0;  
}

.accordion dd {
  border-top: 0;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;  
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
  color: #005479;
  margin-left: 0;
  background-color: #aceadf;
  letter-spacing: auto;
}

.accordion dt a, .accordion dd a {
  display: block;
  color: black;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;  
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
  color: #fffafa;
}

.accordion dd:last-of-type {
  position: relative;
  top: -1px;
}

#feiertage img{
	width:45%;
	}



/*------------------------ ANMELDUNG -------------------------*/

#anmeldung {
  background-color: #F8A434;
  text-align: center;
  color: #FDFCFB;
  position:relative;
  color: #FDFCFB;
}


form {
  width: 60%;
  margin: auto;
}

#anmeldung p {
  margin:0 0 5% 20%;
  width: 60%;
 }

.input {
  display: flex;
  align-items: center;
}

input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}

.button {
  height: 44px;
  border: none;
}

#email {
  width: 70%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

#submit {
  width: 35%;
  height: 46px;
  background: #E86C8D;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 1.5em;
  color: inherit;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#submit:hover {
  background: #d45d7d;
}  

.stoerer{
	background:url("../assets/stoerer.png") no-repeat;
	height:150px;
	width:150px;
	position:absolute;
	top:10%;
	right:16%;
	}
